body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    background-color: #f8f9fa;
    color: #333;
}

h2, h3 {
    color: #2c2c2c;
}
a {
    text-decoration: none;
    color: #2cc3dd;
}

a:hover {
    text-decoration: underline;
}
form, table {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}
input, select, textarea, button {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

textarea {
    resize: vertical;
    min-height: 80px;
}

button {
    background-color: #310d75;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
}

button:hover {
    background-color: #750a5e;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 30px;
    overflow-x: auto;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
    vertical
